    /* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
}

/* Navbar starts from here */
.nav-container{
    background-color: rgb(184, 182, 182);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.digital{
    color: aqua;
}
.nav-menus{
    font-size: 18px;
}
.nav-a{
    text-decoration: none;
    color: black;
    margin: 5px;
    font-weight: 600;
}
.nav-a:hover{
    color: white;
}

/* Banner starts from here */
.banner-container{
    height: 100vh;
    color: white;
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-size: 84px;
    padding-bottom: 50px;
}
.title-red{
    color: rgb(255, 0, 0);
}
.banner-p{
    width: 51%;
    margin: 20px auto;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}.btn-gray{
    background-color: gray;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}
.btn-red:hover{
    background-color: green;
}
.btn-gray:hover{
    background-color: green;
}

/* Services starts from here */
.services-container{
    background-image: url("./asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,4),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    color: rgb(226, 226, 226);
    height: 100vh;
    padding: 0px 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service-information{
    width: 50%;
    padding: 20px;
}
.service-title{
    font-size: 48px;
    margin-bottom: 20px;
}
.service-p{
    font-size: 18px;
    margin-bottom: 20px;
    width: 50%;
}
.list{
    margin-bottom: 5px;
}
.author-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 50%;
}
.author{
    display: flex;
    align-items: center;
}
.author-img{
    border-radius: 50%;
    width: 100px;
}
.author-title{
    margin-left: 10px;
}
.small{
    font-size: 12px;
}
.more-btn{
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    color: red;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.more-btn:hover{
    color: white;
    background-color: green;
}
.all-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    background-color: white;
    color: black;
    width: 300px;
    height: 250px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    margin-top: 10px;

}
.box-img{
    width: 100px;
    margin-bottom: 20px;
}