    /* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
}

/* Navbar starts from here */
.nav-container{
    background-color: rgb(184, 182, 182);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.digital{
    color: aqua;
}
.nav-menus{
    font-size: 18px;
}
.nav-a{
    text-decoration: none;
    color: black;
    margin: 5px;
    font-weight: 600;
}
.nav-a:hover{
    color: white;
}

/* Banner starts from here */
.banner-container{
    height: 100vh;
    color: white;
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-size: 84px;
    padding-bottom: 50px;
}
.title-red{
    color: rgb(255, 0, 0);
}
.banner-p{
    width: 51%;
    margin: 20px auto;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}.btn-gray{
    background-color: gray;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}
.btn-red:hover{
    background-color: green;
}
.btn-gray:hover{
    background-color: green;
}

/* Services starts from here */
.services-container{
    background-image: url("./asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,4),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    color: rgb(226, 226, 226);
    height: 100vh;
    padding: 0px 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service-information{
    width: 50%;
    padding: 20px;
}
.service-title{
    font-size: 48px;
    margin-bottom: 20px;
}
.service-p{
    font-size: 18px;
    margin-bottom: 20px;
    width: 50%;
}
.list{
    margin-bottom: 5px;
}
.author-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 50%;
}
.author{
    display: flex;
    align-items: center;
}
.author-img{
    border-radius: 50%;
    width: 100px;
}
.author-title{
    margin-left: 10px;
}
.small{
    font-size: 12px;
}
.more-btn{
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    color: red;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.more-btn:hover{
    color: white;
    background-color: green;
}
.all-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    background-color: white;
    color: black;
    width: 300px;
    height: 250px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    margin-top: 10px;

}
.box-img{
    width: 100px;
    margin-bottom: 20px;
}

/* Appointment starts from here */
.appointment-container{
    background-color: #F52C2D;
    width: 80%;
    height: 200px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    margin-top: -80px;
}
.call-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    border-right: 2px solid black;
    padding-right: 30px;
}
.call-img{
    width: 100px;
}
.number{
    font-size: 32px;
}
.appoint-p{
    padding-left: 20px;
}
.appoint-btn{
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}
.appoint-btn:hover{
    background-color: green;
    color: white;
}

/* Blog starts from here */
.blog-container{
    padding: 40px;
    margin: 0px auto;
}
.blog-info{
    text-align: center;
}
.title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.red{
    color: red;
}
.blog-p{
    font-size: 22px;
    margin-bottom: 20px;
}
.three-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.first{
    height: 400px;
    width: 300px;
    box-shadow: 5px 5px 10px 0px gray;
    border-radius: 5px;
    margin-top: 30px;
}
.card-img{
    width: 300px;
    border-radius: 5px;
}
.card-title{
    margin: 10px auto;
    padding: 0px 10px;
}
.card-p{
    font-size: 18px;
    margin: 0 auto;
    padding: 0px 10px;
}

/* Footer starts from here */
.foot{
    background-color: black;
    padding-bottom: 30px;
}
.footer-container{
    background-image: url("./asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8));
    background-blend-mode: overlay;
    color: white;
    height: 600px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 0px 150px;
}
.footer-one{
    width: 200px;
    margin-top: -70px;
}
.footer-logo{
    width: 180px;
}
.footer-p{
    padding-top: 20px;
}
.logo{
    padding-top: 10px;
    padding-left: 5px; 
}
.fa-brands{
    padding: 5px;
    cursor: pointer;
}
.footer-all{
    list-style: none;
    padding-top: 20px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.space{
    margin-bottom: 10px;
}
.link{
    text-decoration: none;
    color: white;
}
.hr{
    width: 75%;
    margin: 0px auto;
    height: 1px;
    background-color: gray;
    border: none;
}
.copyright{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}